@model CassandraDataLayer.QueryEntities.User
<table class="table">
    @if (CassandraDataLayer.Store.GetInstance().loggedUser != null)
    {
        <h1>All students in the school</h1>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Surname")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Average Grade")
            </th>
        </tr>
        foreach (var s in CassandraDataLayer.DataProvider.GetAllSchoolStudents(CassandraDataLayer.Store.GetInstance().loggedUser.schoolID))
        {
            <tr>
                <td>
                    @s.name
                </td>
                <td>
                    @s.surname
                </td>
                <td>
                    @s.email
                </td>
                <td>
                    @s.averageGrade
                </td>
            </tr>
        }
    }
</table>
