@model CassandraDataLayer.QueryEntities.User

<div class="container">
    <div>
        <h1>Welcome to the school portal   </h1>
    </div>
    <form>
        @if (CassandraDataLayer.Store.GetInstance().loggedUser != null)
        {
            <h2>Student: @Html.DisplayFor(modelItem => Model.name) @Html.DisplayFor(modelItem => Model.surname)</h2>
            CassandraDataLayer.QueryEntities.School school;
            if (CassandraDataLayer.Store.GetInstance().loggedUser.role)
            {
                school = CassandraDataLayer.DataProvider.GetSchool(CassandraDataLayer.Store.GetInstance().GetUser().schoolID);
            }
            else
            {
                school = CassandraDataLayer.DataProvider.GetSchoolStudent(CassandraDataLayer.Store.GetInstance().GetUser());
            }
            <div class="col-md-offset-2 col-md-10" style="display:flex;flex-direction:column;">
                <h1 style="font:bold; color:darkblue">Information about school:</h1>
                <h2 style="color:darkblue"> School name: @school.name</h2>
                <h2 style="color:darkblue"> School email: @school.email</h2>
                <h2 style="color:darkblue"> School contact: @school.phone</h2>
                <h2 style="color:darkblue"> School address: @school.city @school.address @school.zip</h2>
            </div>
        }
    </form>
</div>